.bannerteam-sec {
    height: 30vh;
    background-position: bottom;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e1e1e17a;
}
.card-img-top{height: 350px;}
.industry-secteam .card:hover {
    box-shadow: 0 0 15px 0px #03254c;
}

.industry-secteam .container .row{
    margin-top: 0;
    padding-top: 40px;
}
.back-flip{
    position: absolute;
    /*display: none;*/
    visibility: hidden;
    background: #fff;
    height: 90%;
    width: 100%;
    overflow: hidden !important;
    transition: all 0.01s cubic-bezier(0.24,1,0.30,1);
    -webkit-transition: all 0.01s cubic-bezier(0.24,1,0.30,1);
    transform: scale(1.1);
    
}
.card:hover .back-flip{
    /*display: block;*/
    visibility: visible !important;
    box-shadow: 0px 0px 10px 2px #e8e8e8;
    transition: all .6s cubic-bezier(0.24,1,0.30,1);
    -webkit-transition: all .6s cubic-bezier(0.24,1,0.30,1);
    transform: scale(1);
}
/* li.nav-item {
    width: 50%;
    border: 0;
    text-align: center;
} */

.back-flip .nav .nav-link{
    width: 50%;
}
.industry-secteam .nav-link.active {

    background-color : var(--primary) !important ;
    color : white !important ;
}

 .tab-content{
    /*background: var(--font1);*/
    color : black;
    /* height: 423px; */
    /* background-image: url("https://localhost/images/Srinivas.jpeg"); */
    background-repeat: no-repeat;
    background-size: cover;

}

div.transbox {
  background-color: #ffffff;
  /*border: 1px solid black;*/
  opacity: 0.75;
  height: 423px;
  margin-top: -24px;
}

div .transbox p {
  font-weight: bold;
  color: #000000;
}
.progress-bar {
    color: var(--primary);
    background-color: #fcb603;
    font-size : 15px;
    font-weight: 1000;
}
.progress {
    background-color: transparent;
    /*height: 15px;*/
}
.details-sec .txt-3-wt{line-height: 16px; color : black; font-weight:bold;}
@media (max-width: 768px){
.nav-item .txt-3-dp{font-size: 22px !important;}
.txt-3-wt{font-size: 18px !important;}
}
@media (max-width: 767px){
.banner-sec br{display: none;}
}
@media screen and (max-width:767px){
    .bannerteam-sec .container .row .text-center h2{
        font-size: 30px;
    }
    .bannerteam-sec .container .row .text-center p{
        font-size: 15px;
    }

}